/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* custom style */
:root {
  /* PRIMARY */

  --Scissors-Gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --Paper-Gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --Rock-Gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --Lizard-Gradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --Cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

  /* NEUTRAL */
  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);

  /* ***** */

  --Radial-Gradient: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

  --ff: "Barlow Semi Condensed", sans-serif;

  --fw-sb: 600;
  --fw-b: 700;
}

body {
  font-family: var(--ff);
  background: var(--Radial-Gradient);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem;
  color: white;
}

.main-box {
  display: grid;
  gap: 6rem;
}

.intro-score {
  display: flex;
  justify-content: space-between;
  outline: 2px solid var(--Header-Outline);
  padding: 1rem;
  border-radius: 0.6rem;
  gap: 1rem;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  line-height: 0.85;
  font-size: 1.2rem;
}

.score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 0.2rem;
}

.score-box p:first-child {
  color: var(--Score-Text);
  font-size: 0.9rem;
}

.score {
  color: var(--Dark-Text);
  font-size: 1.8rem;
  line-height: 1;
}

/* section-two */

.section-two {
  display: grid;
  place-items: center;
}

.game-box {
  position: relative;
  width: 70%;
  margin: auto;
}

.btn {
  padding: 3rem;
  border-radius: 50%;
  border: none;
  position: absolute;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  transform: scale(1.5);
}

.rock {
  background: white url(images/icon-rock.svg) no-repeat center;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
  border: 1rem solid hsl(349, 71%, 52%);
}
.paper {
  background: white url(images/icon-paper.svg) no-repeat center;
  top: 0;
  transform: translate(-50%, -50%);
  border: 1rem solid hsl(230, 89%, 62%);
}
.scissor {
  background: white url(images/icon-scissors.svg) no-repeat center;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border: 1rem solid hsl(39, 89%, 49%);
}
